/node_modules
/public/hot
/public/storage
/public/uploads
public/uploads.zip
/storage/*.key
/storage/debugbar
/vendor
/sqlupdates
/nbproject/private/
/nbproject
/documentation
/temp
updates/


/bootstrap/compiled.php
composer.phar
composer.lock
.env.*.php
.env
updates.zip
ecommerce.zip
install.zip
shop.sql
FlutterEcommerceAPI.postman_collection.json


resources/lang/en.json
